<h1 style="text-align: center;">Khóa học của tôi</h1>

<div class="mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Khóa Học</th>
                <th scope="col">Tác Giả</th>
                <th scope="col">Chỉnh Sửa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courseras}}
            <tr>
                <th scope="row">{{inc @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.author}}</td>
                <td>
                    <a href="manage/{{this._id}}/update">Sửa </a>
                    <a style="margin-left: 15px;" href="manage/{{this._id}}/delete"> Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>