<h1 style="text-align: center;">Khóa học của tôi</h1>

<form name="btnSubmitCheck" method="POST" action="manage/selecAction">
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check-box-all">
            <label class="form-check-label" for="check-box-all">
                Chọn tất cả
            </label>
        </div>

        <select style="width: 150px;" class="form-select form-select-sm form-select-style" name="ActionSelect" required>
            <option value="">Lựa chọn</option>
            <option value="delete">Xóa</option>
        </select>

        <button class="btn btn-primary button-submit-checked disabled">Thực hiện</button>
    </div>

    <div class="mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="2">#</th>
                    <th scope="col">Tên Khóa Học</th>
                    <th scope="col">Tác Giả</th>
                    <th scope="col">Chỉnh Sửa</th>
                </tr>
            </thead>
            <tbody>
                {{#each courseras}}
                <tr>
                    <th>
                        <input class="form-check-input from-checked-course" name="courseIds[]" type="checkbox"
                            value="{{this._id}}">
                    </th>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.author}}</td>
                    <td>
                        <a href="manage/{{this._id}}/update">Sửa </a>
                        <a style="margin-left: 15px;" href="" data-id-whatever="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#asked-delete">Xóa</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Bạn chưa đăng khóa học nào. <a href="/coursera/create">Đăng tại đây</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>
<a href="/manage/recbin">Khóa học đã xóa ({{numberDelete}})</a>


<!-- Modal -->

<div class="modal fade" id="asked-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Comfirm ???</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn Có chắc chắn muốn xóa khóa học ???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa Bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- form delete --}}
<form name="delete-course" method="post"></form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // khai báo biến
        var id
        var delete_from;
        var checkForn;
        var exampleModal;
        var checkBoxAll;
        var checkBoxCouser;
        var bottomCheckBox;

        // set value
        delete_from = document.forms['delete-course'];
        checkForn = document.forms['btnSubmitCheck'];
        exampleModal = document.getElementById('asked-delete');
        checkBoxAll = $('#check-box-all');
        checkBoxCouser = $('input[name="courseIds[]"]');
        bottomCheckBox = $('.button-submit-checked');

        //lắng nghe của sổ hiện lên
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            id = button.getAttribute('data-id-whatever');
        });

        // submit xóa
        var btn = document.getElementById('btn-delete-course');
        btn.onclick = function () {
            delete_from.action = '/manage/' + id + '/delete' + '?_method=DELETE';
            delete_from.submit();
        }


        // kiểm tra nút xóa tất cả
        checkBoxAll.change(function () {
            var isChecked = $(this).prop('checked');
            checkBoxCouser.prop('checked', isChecked)
            checkBottomBtn();
        })

        // kiểm tra từng nút môt
        checkBoxCouser.change(function () {
            var isChecked = checkBoxCouser.length === $('input[name="courseIds[]"]:checked').length;
            checkBoxAll.prop('checked', isChecked);
            checkBottomBtn();
        })

        // Kiểm tra phần lựa chọn


        // kiểm tra nút submit 
        function checkBottomBtn() {
        var isChecked = $('input[name="courseIds[]"]:checked').length; 
        if (isChecked > 0){
            bottomCheckBox.removeClass('disabled');
        }
        else{
            bottomCheckBox.addClass('disabled');
        }
    }
    })

</script>